@font-face {
        font-family:Playwrite;
        src: url("./fonts/font_playwrite/PlaywriteITModerna-VariableFont_wght.ttf");
    }

   .paineltitulo{
    font-family: Playwrite ;
    font-size: 50px ;
    color: black ;

}

.paineltexto{
    font-family: Playwrite;
    font-size: 30px;
    color: black;
}
